.container {
  composes: border from "./Globals.module.css";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.button {
  padding: 0.5rem;
  background: #fff;
  border: 1px solid #d0d3d9;
  font-size: 16px;
  font-weight: bold;
}